@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<MBButton Label="CLick me" ButtonStyle="@MBButtonStyle.ContainedRaised"  @onclick="IncrementCount"/>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {   
        currentCount++;
    }
}
